In [1]:
c = "siddharth"

In [2]:
type(c)

str

In [3]:
l = [24,56,"siddharth" , 4+5j]

In [4]:
type(l)

list

In [5]:
a = 24.56

In [6]:
type(a)

float

In [9]:
 t1=(1,2,3,4,True,25,"Sid")

In [7]:
type(t1)

tuple

In [12]:
var1=''

In [13]:
type(var1)

str

In [17]:
var2=["DS","ML","Python"]

In [18]:
type(var2)

list

In [19]:
var3=["DS","ML","Python"]

In [22]:
type(var3)

list

In [23]:
var4=1.

In [24]:
type(var4)

float

In [25]:
2/2

1.0

In [28]:
50%4

2

In [30]:
98//3

32

In [31]:
4**2

16

In [46]:
l1=[1,2,3,4,"Siddharth",True,25.6,{"Course_name":"Data Science"},False,2+5j,"Hello",(4,5,6),25.6,{"Age":20},["Sid"],{"Title":"Sarma"}]

In [39]:
len(l)

10

In [47]:
for element in l1:
    print(l, type(l))

([1, 2, 3, 4, 'Siddharth', True, 25.6], {'Course_name': 'Data Science'}, False, (2+5j), 'Hello', (4, 5, 6), 25.6, {'Age': 20}, ['Sid'], {'Title': 'Sarma'}) <class 'tuple'>
([1, 2, 3, 4, 'Siddharth', True, 25.6], {'Course_name': 'Data Science'}, False, (2+5j), 'Hello', (4, 5, 6), 25.6, {'Age': 20}, ['Sid'], {'Title': 'Sarma'}) <class 'tuple'>
([1, 2, 3, 4, 'Siddharth', True, 25.6], {'Course_name': 'Data Science'}, False, (2+5j), 'Hello', (4, 5, 6), 25.6, {'Age': 20}, ['Sid'], {'Title': 'Sarma'}) <class 'tuple'>
([1, 2, 3, 4, 'Siddharth', True, 25.6], {'Course_name': 'Data Science'}, False, (2+5j), 'Hello', (4, 5, 6), 25.6, {'Age': 20}, ['Sid'], {'Title': 'Sarma'}) <class 'tuple'>
([1, 2, 3, 4, 'Siddharth', True, 25.6], {'Course_name': 'Data Science'}, False, (2+5j), 'Hello', (4, 5, 6), 25.6, {'Age': 20}, ['Sid'], {'Title': 'Sarma'}) <class 'tuple'>
([1, 2, 3, 4, 'Siddharth', True, 25.6], {'Course_name': 'Data Science'}, False, (2+5j), 'Hello', (4, 5, 6), 25.6, {'Age': 20}, ['Sid'], {'Title': 'Sarma'}) <class 'tuple'>
([1, 2, 3, 4, 'Siddharth', True, 25.6], {'Course_name': 'Data Science'}, False, (2+5j), 'Hello', (4, 5, 6), 25.6, {'Age': 20}, ['Sid'], {'Title': 'Sarma'}) <class 'tuple'>
([1, 2, 3, 4, 'Siddharth', True, 25.6], {'Course_name': 'Data Science'}, False, (2+5j), 'Hello', (4, 5, 6), 25.6, {'Age': 20}, ['Sid'], {'Title': 'Sarma'}) <class 'tuple'>
([1, 2, 3, 4, 'Siddharth', True, 25.6], {'Course_name': 'Data Science'}, False, (2+5j), 'Hello', (4, 5, 6), 25.6, {'Age': 20}, ['Sid'], {'Title': 'Sarma'}) <class 'tuple'>
([1, 2, 3, 4, 'Siddharth', True, 25.6], {'Course_name': 'Data Science'}, False, (2+5j), 'Hello', (4, 5, 6), 25.6, {'Age': 20}, ['Sid'], {'Title': 'Sarma'}) <class 'tuple'>
([1, 2, 3, 4, 'Siddharth', True, 25.6], {'Course_name': 'Data Science'}, False, (2+5j), 'Hello', (4, 5, 6), 25.6, {'Age': 20}, ['Sid'], {'Title': 'Sarma'}) <class 'tuple'>
([1, 2, 3, 4, 'Siddharth', True, 25.6], {'Course_name': 'Data Science'}, False, (2+5j), 'Hello', (4, 5, 6), 25.6, {'Age': 20}, ['Sid'], {'Title': 'Sarma'}) <class 'tuple'>
([1, 2, 3, 4, 'Siddharth', True, 25.6], {'Course_name': 'Data Science'}, False, (2+5j), 'Hello', (4, 5, 6), 25.6, {'Age': 20}, ['Sid'], {'Title': 'Sarma'}) <class 'tuple'>
([1, 2, 3, 4, 'Siddharth', True, 25.6], {'Course_name': 'Data Science'}, False, (2+5j), 'Hello', (4, 5, 6), 25.6, {'Age': 20}, ['Sid'], {'Title': 'Sarma'}) <class 'tuple'>
([1, 2, 3, 4, 'Siddharth', True, 25.6], {'Course_name': 'Data Science'}, False, (2+5j), 'Hello', (4, 5, 6), 25.6, {'Age': 20}, ['Sid'], {'Title': 'Sarma'}) <class 'tuple'>
([1, 2, 3, 4, 'Siddharth', True, 25.6], {'Course_name': 'Data Science'}, False, (2+5j), 'Hello', (4, 5, 6), 25.6, {'Age': 20}, ['Sid'], {'Title': 'Sarma'}) <class 'tuple'>

In [59]:
list_1=[15,3.14,"Siddharth",True,[1,2,3,4],{"course_name":"Data_Science_Masters"},(4,5,6),False,2+5j,"Bye"]

In [60]:
len(list_1)

10

In [62]:
for element in list_1:
    print(element ,type(element))

15 <class 'int'>
3.14 <class 'float'>
Siddharth <class 'str'>
True <class 'bool'>
[1, 2, 3, 4] <class 'list'>
{'course_name': 'Data_Science_Masters'} <class 'dict'>
(4, 5, 6) <class 'tuple'>
False <class 'bool'>
(2+5j) <class 'complex'>
Bye <class 'str'>

In [ ]:
A=int(input("enter the value of A"))
B=int(input("enter the value of B"))

count=0

 while A%B==0:
        A//B=0
        count+=1
if count >0:
    print("A is not divisibe by B")

In [ ]:
A=int(input("enter the value of A"))
B=int(input("enter the value of B"))

count=0

 while A%B==0:
        A//B=0
        count+=1
if count >0:
    print("A is not divisibe by B")

In [ ]:
l=[9,28,63,55,15,18,27,21,56,45,80,98,82,96,3,11,72,85,84,12,63,92,91,20,23]

In [ ]:
len(l)